# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [26]:
string=input("Enter your string: ")
reverse=string[::-1]
print("Your string convert into reverse:",reverse)

Enter your string: Rudra
Your string convert into reverse: arduR

2. Check if a string is a palindrome.

In [21]:
def a_palindrom(s):
    return s==s[::-1]
str=input("Enter your string: ")
if a_palindrom(str):
    print(str,"is a palindrom")
else:
    print(str,"is not a palindrom")

Enter your string: Rudra
Rudra is not a palindrom

3. Convert a string to uppercase.

In [23]:
string=input("Enter the string:")
uppercase=string.upper()
print("Your word convert in uppercase:",uppercase)

Enter the string:pwskills
Your word convert in uppercase: PWSKILLS

4. Convert a string to lowercase.

In [25]:
string=input("Enter the string:")
lowercase=string.lower()
print("Your word convert into lowecase", lowercase)

Enter the string:PWSkILLS
Your word convert into lowecase pwskills

5. Count the number of vowels in a string.

In [4]:
sentence=input("Enter the sentence:")
vowles="aeiouAEIOU"
vowle_count=0
for charecter in sentence:
    if charecter in vowles:
        vowle_count+=1
print("Number of Volwes:",vowle_count)

Enter the sentence:HYPOCRITE
Number of Volwes: 3

6. Count the number of consonants in a string.

In [14]:
sentence=input("Enter the sentence:")
vowles="aeiouAEIOU"
consonants_count=0
for charecter in sentence:
    if charecter.isalpha() and charecter not in vowles:
        consonants_count+=1
print("Number of Volwes:",consonants_count)

Enter the sentence:HYPOCRITE
Number of Volwes: 6

7. Remove all whitespaces from a string.

In [28]:
string=input("Enter the string:")
remove_whitespace=string.replace(" ","")
print("Your string without space:", remove_whitespace)

Enter the string:Pw Skills
Your string without space: PwSkills

8. Find the length of a string without using the `len()` function.

In [3]:
def findlength(input_str):
    count=0
    for char in input_str:
        count+=1
    return count

my_string=input("Enter your string for find the length: ")
length= findlength(my_string)
print("Length of the string :",length)

Enter your string for find the length: Rudra Chakraborty
Length of the string : 17

9. Check if a string contains a specific word.

In [3]:
def contains_word(string,specific_word):
    return string in specific_word

my_string=input("Enter your string: ")
word_to_check=input("You want to check:")

if contains_word(my_string,word_to_check):
    print(f'"{word_to_check}"')
else:
    print(f'"{word_to_check}"')

Enter your string: The Quick Brown Fox Jumps Over The Lazy Dog
You want to checkquick
"quick"

10. Replace a word in a string with another word.

In [1]:
sentence=input("Enter the sentence: ")
old_word=input("Enter the word you want to change: ")
replace_word=input("Enter the new word: ")
replace=sentence.replace(old_word,replace_word)
print("Your new sentence is:",replace)

Enter the sentence: Iraq was governed by man with absolute power when Saddam Hussain was the President
Enter the word you want to change: man with absolute power
Enter the new word: autocary
Your new sentence is: Iraq was governed by autocary when Saddam Hussain was the President

11. Count the occurrences of a word in a string.

In [15]:
def count_words(sentence,words_count):
    wordcount=0
    words=sentence.split()
    for word in words:
        if word==words_count:
            wordcount+=1
    return wordcount
sentence=input("Enter the sentence:")
words_count=input("Enter the word you want to count:")
result=count_words(sentence,words_count)
print(f"The word '{words_count}' appears {result} times in the input string.")

Enter the sentence:Iraq was governed by man with absolute power when Saddam Hussain was the President
Enter the word you want to count:power
The word 'power' appears 1 times in the input string.

12. Find the first occurrence of a word in a string.

In [1]:
def first_occurrence(sentence,first_count):
    index=sentence.find(first_count)
    if index==-1:
        return None
    return index
sentence=input("Enter the sentence:")
first_count=input("Enter the word you want to count:")
result=first_occurrence(sentence,first_count)
print("The first occurrence of a word in a string",result)

The first occurrence of a word in a string None

13. Find the last occurrence of a word in a string.

In [31]:
def last_occurrance(sentence,last_count):
    index=sentence.rfind(last_count)
    if index==-1:
        return None
    return index
sentence=input("Enter the sentence:")
last_count=input("Enter the word you want to count:")
result=last_occurrance(sentence,last_count)
print("The last occurrence of a word in a string",result)

Enter the sentence:Iraq was governed by man with absolute power when Saddam Hussain was the President
Enter the word you want to count:was
The last occurrence of a word in a string 65

14. Split a string into a list of words.

In [6]:
string=input("Enter the word:")
result=string.split()
print(result)

Enter the word:Rudra Chakraborty
['Rudra', 'Chakraborty']

15. Join a list of words into a string.

In [2]:
word=["Python","DSA","SQL"]
result=" ".join(word)
print(result)

Python DSA SQL

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [18]:
def convert_space_to_underscore(input_string):
    output_string=input_string.replace(" ","_")
    return output_string
input_string=input("Enter your string:")
result= convert_space_to_underscore(input_string)
print("Your string space replace with underscore",result)

Your string space replace with underscore The_quick_brown_fox_jumps_over_the_lazy_dog

17. Check if a string starts with a specific word or phrase.

In [19]:
def starts_with_phrase(input_string, phrase):
    return input_string.startswith(phrase)

input_string=input("Enter the string")
check_phrase="The"

if starts_with_phrase(input_string,check_phrase):
    print(f"The phrase starting with'{check_phrase}'.")
else:
    print(f"The phrase dose't starting with'{check_phrase}'.")

The phrase starting with'The'.

18. Check if a string ends with a specific word or phrase.

In [21]:
def end_with_phrase(input_string,phrase):
    return input_string.endswith(phrase)

input_string=input("Enter the string")
check_phrase="dog"

if end_with_phrase(input_string,check_phrase):
    print(f"The phrase ending with'{check_phrase}'.")
else:
    print(f"The phrase dose't ending with'{check_phrase}'.")

The phrase ending with'dog'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [24]:
def convert_a_string_to_title_case(input_string):
    return input_string.title()

input_string=input("Enter thr string")
result= convert_a_string_to_title_case(input_string)
print(" A string Convert in to title case:", result)

 A string Convert in to title case: Hello World

20. Find the longest word in a string.

In [27]:
def longest_word(input_string):
    word=input_string.split()
    longestWord=max(word, key=len)
    return longestWord

input_string=input("Enter the string:")
result=longest_word(input_string)
print("The longest word in the string is:",result)

The longest word in the string is: quick


21. Find the shortest word in a string.

In [28]:
def shortest_word(input_string):
    word=input_string.split()
    shortesWord=min(word,key=len)
    return shortesWord

input_string=input("Enter the string:")
result=shortest_word(input_string)
print("The shortest word in the string is:", result)

The shortest word in the string is: The

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [7]:
def the_shortest_word(sentence):
    words=sentence.split()
    shortest_word=""
    min_length=0
    for word in words:
        if len(word)<min_length:
            min_length=len(word)
            shortest_word=word
    return shortest_word

sentence=input("Enter the sentence:")
result=the_shortest_word(sentence)
print=("The longest word is:",result)

22. Reverse the order of words in a string.

In [18]:
string=input("Enter the sring:")
reverse=string[::-1]
print("Reverse the order of words:",reverse)

Enter the sring:The Quick Brown Fox Jumps Over The Lazy Dog
Reverse the order of words: goD yzaL ehT revO spmuJ xoF nworB kciuQ ehT

23. Check if a string is alphanumeric.

In [17]:
string=input("Enter the sring: ")
alphanumeric=string.isalnum()
if alphanumeric is string:
    print("The string is alphanumeric:",alphanumeric)
else:
    print("The string is alphanumeric:",alphanumeric)

Enter the sring: The Quick Brown Fox Jumps Over The Lazy Dog
The string is alphanumeric: False

24. Extract all digits from a string.

In [32]:
def extract_digit(input_string):
    return ''.join(char for char in input_string if char.isdigit())

input_string=input("Enter the string:")
result=extract_digit(input_string)
print("Extract the all digits from string:",result)

Extract the all digits from string: 123

25. Extract all alphabets from a string.

In [33]:
def extract_alphabate(input_string):
    return ''.join(char for char in input_string if char.isalpha())

input_string=input("Enter the string:")
result= extract_alphabate(input_string)
print("Extract the all alphabets string:", result)

Extract the all alphabets string: Rudra

26. Count the number of uppercase letters in a string.

In [21]:
def count_uppercase(s):
    count=0
    for string in s:
        if string.isupper():
            count +=1
    return count
string=input("Enter the sentence:")
uppercase=count_uppercase(string)
print("The number of uppercase letters:",uppercase)

Enter the sentence:The Quick Brown Fox Jumps Over The Lazy Dog
The number of uppercase letters: 9

27. Count the number of lowercase letters in a string.

In [20]:
def count_lowercase(s):
    count=0
    for string in s:
        if string.islower():
            count+=1
    return count
string=input("Enter the sentence:")
lowercase=count_lowercase(string)
print("The number of lowercase letters:",lowercase)

Enter the sentence:The Quick Brown Fox Jumps Over The Lazy Dog
The number of lowercase letters: 26


28. Swap the case of each character in a string.

In [8]:
s1=input()
s2=input()
s1=s2.swapcase()
print("after swaping s1",s1)

1
2
after swaping s1 2

29. Remove a specific word from a string.

In [35]:
def remove_word(input_string,word_to_remove):
    return input_string.replace(word_to_remove,'')

input_string=input("Enter the string:")
word_to_remove=input("Enter the word you want to remove from string:")
result=remove_word(input_string,word_to_remove)
print(f"{word_to_remove},remove from the string",result)

specific,remove from the string Remove a  word from a string

30. Check if a string is a valid email address.

In [2]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-z0-9_.+-]+@[a-zA-Z0-9-.]+$'
    if re.match(pattern,email):
        return True
    else:
        return False
    
email =input("Enter a email:")
result = is_valid_email(email)
print("Your email id is valid",result)

Your email id is valid False

31. Extract the username from an email address string.

In [43]:
def extract_username(email):
    if '@' in email:
        username=email.split('@')[0]
        return username
    else:
        return None
     
email_add=input("Enter the Email")
username= extract_username(email_add)

if username is not None:
    print("The user name is:",username)
else:
    print("Invalid email address")

The user name is: rudrachakeaborty

32. Extract the domain name from an email address string.

In [48]:
def extract_domain(email):
    if '@'in email:
        _,domain=email.split('@',1)
        return domain
    else:
        return None
    
email_add=input("Enter your email:")
domain=extract_domain(email_add)

if domain is not None:
    print("The user domain is:",domain)
else:
    print(f"{email_address} is not a valid email address")

The user domain is: gmail.com

33. Replace multiple spaces in a string with a single space.

In [1]:
def replace_multiple_spaces(input_string):
    clear_string=' '.join(input_string.split())
    return clear_string

input_string=input("Enter the string:")
result=replace_multiple_spaces(input_string)
print("Replace multiple spaces:",result)

Replace multiple spaces: Rudra Chakraborty

34. Check if a string is a valid URL

In [43]:
from urllib.parse import urlparse
def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except VallueError:
        return Flase
    
input_url=input("Enter the URL:")
if is_valid_url(input_url):
    print(f"{input_url} is a valid URL.")
else:
    print(f"{input_url} is not a valid URL.")

ofhttps://pwskills.com/  is a valid URL.

35. Extract the protocol (http or https) from a URL string.

In [8]:
from urllib.parse import urlparse
def extract_prtocol(input_url):
    parsed_url=urlparse(input_url)
    return parsed_url.scheme

input_url=input("Enter the URL:")
protocol=extract_prtocol(input_url)
print(f"The protocol of{input_url} is : {protocol}")

The protocol ofhttps://pwskills.com/  is : https

36. Find the frequency of each character in a string.

In [13]:
def char_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1 
    return frequency

input_string = input("Enter the string")
result = char_frequency(input_string)
print("The frequency of a string:", result)

The frequency of a string: {'P': 1, 'W': 1, 'S': 2, 'K': 1, 'I': 1, 'L': 2}

37. Remove all punctuation from a string.

In [15]:
import string

def remove_puctuation(input_string):
    translator = str.maketrans('','',string.punctuation)
    return input_string.translate(translator)

input_string=input("Enter the string:")
result=remove_puctuation(input_string)
print("After removing punctuation:",result)

After removing punctuation: She began to count One two three fourâ€¦ until she got to 10 then went to find him

38. Check if a string contains only digits.

In [17]:
def only_digit(input_string):
    return input_string.isdigit()

string_to_check=input("Enter the string")

if only_digit(string_to_check):
    print(f"'{string_to_check}' contains only digit")
else:
    print(f"'{string_to_check}' dose not contains only digit ")

'Rudra123' dose not contains only digit

39. Check if a string contains only alphabets.

In [23]:
def only_alphabets(input_string):
    return input_string.isalpha()

string_check=input("Enter the string")

if only_alphabets(string_check):
    print(f"'{string_check}' contains only alphabets")
else:
    print(f"'{string_check}' dose not contains only alphabets ")

'RudraChakraborty' contains only alphabets

40. Convert a string to a list of characters.

In [25]:
def convert_into_list(input_string):
    for char in input_string:
        char_list = list(input_string)
        return char_list
    
input_string=input("Enter your string:")
result= convert_into_list(input_string)
print("Convert a string to list", result)

Convert a string to list ['p', 'w', 's', 'k', 'i', 'l', 'l', 'd']

41. Check if two strings are anagrams.

In [33]:
def anagrams(string,string_two):
    string=string.replace(" ","").lower()
    string_two=string_two.replace(" ","").lower()
    return sorted(string) == sorted(string_two)

input_string=input("Enter the first string:")
input_string2=input("Enter the second string:")
input_string3=input("Enter the tierd string:")
input_string4=input("Enter the forth string:")

result=anagrams(input_string,input_string2)
result2=anagrams(input_string3,input_string4)

print(f"'{input_string}' and '{input_string2}' are anagrams",result)
print(f"'{input_string3}' and '{input_string4}' are anagrams",result2)

'Race' and 'Care' are anagrams True
'Cow' and 'Dog' are anagrams False

42. Encode a string using a Caesar cipher.

In [11]:
def caesar_cipher(text, shift):
    result = []
    for char in text:
        if char.isalpha():
            shift_base = ord('A') if char.isupper() else ord('a')
            encoded_char = chr((ord(char) - shift_base + shift) % 26 + shift_base)
            result.append(encoded_char)
        else:
            result.append(char)
    return ''.join(result)
original_text = input("Enter the string")
shift = 3
encoded_text = caesar_cipher(original_text, shift)
print("Original text:", original_text)
print("Encoded text:", encoded_text)

Original text: PW Skills
Encoded text: SZ Vnloov

43. Decode a Caesar cipher encoded string.

In [12]:
def caesar_cipher_decode(text, shift):
    result = []
    for char in text:
        if char.isalpha():
            shift_base = ord('A') if char.isupper() else ord('a')
            decoded_char = chr((ord(char) - shift_base - shift) % 26 + shift_base)
            result.append(decoded_char)
        else:
            result.append(char)
    
    return ''.join(result)
encoded_text = "SZ Vnloov!"
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)

print("Encoded text:", encoded_text)
print("Decoded text:", decoded_text)

Encoded text: SZ Vnloov!
Decoded text: PW Skills!

44. Find the most frequent word in a string.

In [14]:
from collections import Counter
import re
def most_frequent_word(text):
    words = re.findall(r'\b\w+\b', text.lower())
    word_counts = Counter(words)
    most_common_word, most_common_count = word_counts.most_common(1)[0]
    return most_common_word
text = "This is a test. This test is only a test."
most_frequent = most_frequent_word(text)
print("The most frequent word is:", most_frequent)

The most frequent word is: test

45. Find all unique words in a string.

In [15]:
import re

def unique_words(text):
    words = re.findall(r'\b\w+\b', text.lower())
    unique_words_set = set(words)
    return unique_words_set
text = "This is a test. This test is only a test."
unique_words_set = unique_words(text)
print("The unique words are:", unique_words_set)

The unique words are: {'is', 'only', 'this', 'test', 'a'}

46. Count the number of syllables in a string.

In [17]:
import re

def count_syllables(word):
    word = word.lower()
    word = re.sub(r'[^a-z]', '', word)
    syllables = len(re.findall(r'[aeiouy]+', word))
    return syllables
def count_syllables_in_text(text):
    words = re.findall(r'\b\w+\b', text.lower())
    syllable_count = sum(count_syllables(word) for word in words)
    return syllable_count
text = input("Enter the text")
total_syllables = count_syllables_in_text(text)
print("The total number of syllables is:", total_syllables)

The total number of syllables is: 11

47. Check if a string contains any special characters.

In [18]:
import re
def contains_special_characters(text):
    special_char_pattern = re.compile(r'[^a-zA-Z0-9]')
    if special_char_pattern.search(text):
        return True
    else:
        return False
text_with_special_chars = input("Enter the text")
text_without_special_chars = input("Enter the text")
print("Contains special characters:", contains_special_characters(text_with_special_chars))
print("Contains special characters:", contains_special_characters(text_without_special_chars))

Contains special characters: True
Contains special characters: False

48. Remove the nth word from a string.

In [19]:
def remove_nth_word(text, n):
    words = text.split()
    if 1 <= n <= len(words):
        words.pop(n - 1)
    return ' '.join(words)
text = "This is a test string for the example."
n = 4
result = remove_nth_word(text, n)
print("Original text:", text)
print("Text after removing the nth word:", result)

Original text: This is a test string for the example.
Text after removing the nth word: This is a string for the example.

49. Insert a word at the nth position in a string.

In [20]:
def insert_nth_word(text, word, n):
    words = text.split()
    if n > len(words):
        words.append(word)
    else:
        words.insert(n - 1, word)
    return ' '.join(words)
text = "This is a test string for the example."
word_to_insert = "new"
n = 4
result = insert_nth_word(text, word_to_insert, n)
print("Original text:", text)
print("Text after inserting the word:", result)

Original text: This is a test string for the example.
Text after inserting the word: This is a new test string for the example.

50. Convert a CSV string to a list of lists.

In [22]:
import csv
from io import StringIO
def csv_to_list(csv_string):
    csv_file = StringIO(csv_string)
    reader = csv.reader(csv_file)
    csv_list = list(reader)
    return csv_list
csv_string = """name,age,city
Rudra,25,Kolkata
Archisman,14,Asansol
Soumyadeep,25,Haora"""
result = csv_to_list(csv_string)
print("CSV string:")
print(csv_string)
print("\nList of lists:")
print(result)

CSV string:
name,age,city
Rudra,25,Kolkata
Archisman,14,Asansol
Soumyadeep,25,Haora

List of lists:
[['name', 'age', 'city'], ['Rudra', '25', 'Kolkata'], ['Archisman', '14', 'Asansol'], ['Soumyadeep', '25', 'Haora']]

# List Based Practice Problem:

1. Create a list with integers from 1 to 10.

In [8]:
for i in list(range(1,11)):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Find the length of a list without using the `len()` function.

In [7]:
list=[1,2,3,4,5,6,7,8,9,10]
length=0
for _ in list:
    length+=1
print("The length of a list", length)

The length of a list 10

3. Append an element to the end of a list.

In [6]:
list=[1,2,3,4,5,6,7,8,9,10]
input_in_list=input("Enter an element to the end of a list: ")
list.append(input_in_list)
print(list)

Enter an element to the end of a list: Hello!!
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hello!!']

4. Insert an element at a specific index in a list.

In [4]:
list= [1,2,3,4,5,6,7,8,9,10]
index = int(input("Enter an element at a specific index in a list: "))
element_insert = int(input("Enter an element to insert: "))
list.insert(index, element_insert)
print(list)

Enter an element at a specific index in a list: 5
Enter an element to insert: 55
[1, 2, 3, 4, 5, 55, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [4]:
list=[1,2,3,4,5,6,7,8,9,10]
y=int(input("Enter the value want to remove an element from a list: "))
list=[x for x in list if x!=y]
print("Remove an element from a list by its value:",list)

Enter the value want to remove an element from a list: 5
Remove an element from a list by its value: [1, 2, 3, 4, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [1]:
list=[1,2,3,4,5,6,7,8,9,10]
x=int(input("Enter the value want to remove an element from a list: "))
remove_from_list=list.pop(x)
print("List after removing an element: ",list)
print("Removed element:",remove_from_list)

Enter the value want to remove an element from a list: 4
List after removing an element:  [1, 2, 3, 4, 6, 7, 8, 9, 10]
Removed element: 5

7. Check if an element exists in a list.

In [21]:
list=[1,2,3,4,5,6,7,8,9,10]
check_element=int(input("Enter an element want to check from a list: "))
if check_element in list:
    print(f"The element is {check_element} exist in this list")
else:
    print(f"The element {check_element} is dose not exist in this list")

Enter an element want to check from a list: 5
The element is 5 exist in this list

8. Find the index of the first occurrence of an element in a list.

In [18]:
list=[1,2,3,4,5,6,7,8,9,10]
find_element=int(input("Enter the value want to check an element from a list: "))
if find_element in list:
    index=list.index(find_element)
    print("The first occurrence",find_element,"of is at index", index)
else:
    print(f"{find_element} is not in the list")

Enter the value want to check an element from a list: 11
11 is not in the list

9. Count the occurrences of an element in a list.

In [26]:
list=[1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0,3,2,1,4,5,6,9,8,7]
element_count=int(input("Enter the  occurrences of an element in a list: "))
count=list.count(element_count)
print(f"The element {element_count} appears {count} times in the list.")

Enter the  occurrences of an element in a list: 0
The element 0 appears 1 times in the list.

10. Reverse the order of elements in a list

In [29]:
list=[1,2,3,4,5,6,7,8,9,10]
reverse=list[::-1]
print("Reverse the order of elements in a list", reverse)

Reverse the order of elements in a list [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [40]:
list=[1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0,3,2,4,5,6,9,8,7,3,4,5]
ascending_list=list.sort()
print("Sorted list in ascending order:", list)

Sorted list in ascending order: [0, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8, 9, 9, 9, 10]

12. Sort a list in descending order.

In [42]:
list=[1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0,3,2,4,5,6,9,8,7,3,4,5]
descending=list.sort(reverse=True)
print("Sorted list in descending order:", list)

Sorted list in descending order: [10, 9, 9, 9, 8, 8, 8, 7, 7, 7, 6, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 1, 1, 0]

13. Create a list of even numbers from 1 to 20.

In [12]:
for i in list(range(1,21)):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

14. Create a list of odd numbers from 1 to 20.

In [13]:
for i in list(range(1,21)):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

15. Find the sum of all elements in a list.

In [2]:
list=[1,2,3,4,5,6,7,8,9,10]
list_sum=sum(list)
print("The sum of all elements in a list:",list_sum)

The sum of all elements in a list: 55

16. Find the maximum value in a list.

In [3]:
list=[1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0,3,2,4,5,6,9,8,7,3,4,5,15]
maximum=max(list)
print("The maximum value in a list:",maximum)

The maximum value in a list: 15

17. Find the minimum value in a list.

In [5]:
list=[1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0,3,2,4,5,6,9,8,7,3,4,5,15]
minimum=min(list)
print("The maximum value in a list:",minimum)

The maximum value in a list: 0

18. Create a list of squares of numbers from 1 to 10.

In [9]:
squares_list = [i**2 for i in range(1, 11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [11]:
import random

random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[28, 59, 11, 63, 29, 16, 16, 80, 52, 94]

20. Remove duplicates from a list.

In [19]:
a=[1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0,3,2,4,5,6,9,8,7,3,4,5,15]
new_list=list(set(a))
print("Remove duplicates from a list",  new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15]

21. Find the common elements between two lists.

In [27]:
list_1=[1,2,3,4,5]
list_2=[5,6,7,8,9]
for i in list_1:
    if i in list_2:
        print("The common elements between two lists",i)

The common elements between two lists 5

22. Find the difference between two lists.

In [15]:
list_1 = [1,2,3,4,5]
list_2 = [5,6,7,8,9]
difference = [x for x in list_1 if x not in list_2]
print("The difference between two lists:",difference)

The difference between two lists: [1, 2, 3, 4]

23. Merge two lists.

In [8]:
list_1=[1,2,3,4,5]
list_2=[6,7,8,9,10]
marge=[i for i in list_1]+[i for i in  list_2]
print("After merge two lists:",marge)

After merge two lists: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24. Multiply all elements in a list by 2.

In [20]:
list=[1,2,3,4,5,6,7,8,9,10,9,8,7,6,5,4,3,2,1,0,3,2,4,5,6,9,8,7,3,4,5,15]
multiply = [i*2 for i in list]
print(multiply)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0, 6, 4, 8, 10, 12, 18, 16, 14, 6, 8, 10, 30]

25. Filter out all even numbers from a list.

In [36]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
filtered_list = []
for i in original_list:
    if i% 2!= 0:
        filtered_list.append(i)
print(filtered_list)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [25]:
string = ["1", "2", "3", "4", "5"]
integer_list = []
for item in string:
    integer_list.append(int(item))
print(integer_list)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [40]:
list=[1, 2, 3, 4, 5, 6, 7, 8, 9]
string_list= []
for item in list:
    string_list.append(str(item))
print(string_list)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

28. Flatten a nested list.

In [26]:
def flatten(nested_list):
    flattened_list = []
    for element in nested_list:
        if isinstance(element, list):
            flattened_list.extend(flatten(element))
        else:
            flattened_list.append(element)
    return flattened_list
nested_list = [1, [2, [3, 4], 5], 6, [7, 8, [9, 10]]]
flattened = flatten(nested_list)
print("Original nested list:", nested_list)
print("Flattened list:", flattened)

Original nested list: [1, [2, [3, 4], 5], 6, [7, 8, [9, 10]]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

29. Create a list of the first 10 Fibonacci numbers.

In [6]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while len(fib_sequence) < n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence[:n]
first_10_fibonacci = fibonacci(10)
print("The first 10 Fibonacci numbers are:", first_10_fibonacci)

The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [8]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)
my_list_asc = [1, 2, 3, 4, 5]
my_list_desc = [5, 4, 3, 2, 1]
my_list_unsorted = [1, 3, 2, 5, 4]
print("Is the list sorted (ascending or descending)?", is_sorted(my_list_asc))
print("Is the list sorted (ascending or descending)?", is_sorted(my_list_desc))
print("Is the list sorted (ascending or descending)?", is_sorted(my_list_unsorted))

Is the list sorted (ascending or descending)? True
Is the list sorted (ascending or descending)? True
Is the list sorted (ascending or descending)? False

31. Rotate a list to the left by `n` positions.

In [51]:
def rotate_left(list, n):
    n= n% len(list)
    rotate_list=list[n:]+list[:n]
    return rotate_list

original_list = [1, 2, 3, 4, 5]
rotation_positions = 2

rotated_list = rotate_left(original_list, rotation_positions)
print(rotated_list)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [52]:
def rotate_right(list, n):
    n= n % len(list)
    rotate_list=list[-n:]+list[:-n]
    return rotate_list

original_list = [1, 2, 3, 4, 5]
rotation_positions = 2

rotated_list = rotate_right(original_list, rotation_positions)
print(rotated_list)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

34. Split a list into chunks of size `n`.

In [2]:
def chunk_list(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = list(chunk_list(my_list, chunk_size))
print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [4]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort(reverse=True)
    if len(unique_numbers) >= 2:
        return unique_numbers[1]
    else:
        return None
my_list = [10, 20, 4, 45, 99, 99]
second_largest_num = second_largest(my_list)
print("The second largest number is:", second_largest_num)

The second largest number is: 45

36. Replace every element in a list with its square.

In [27]:
def square_elements(input_list):
    return [x**2 for x in input_list]
original_list = [1, 2, 3, 4, 5]
squared_list = square_elements(original_list)
print("Original list:", original_list)
print("Squared list:", squared_list)

Original list: [1, 2, 3, 4, 5]
Squared list: [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [28]:
def list_to_dict(input_list):
    return {element: index for index, element in enumerate(input_list)}
original_list = ['a', 'b', 'c', 'd']
result_dict = list_to_dict(original_list)
print("Original list:", original_list)
print("Resulting dictionary:", result_dict)

Original list: ['a', 'b', 'c', 'd']
Resulting dictionary: {'a': 0, 'b': 1, 'c': 2, 'd': 3}

38. Shuffle the elements of a list randomly.

In [29]:
import random
def shuffle_list(input_list):
    random.shuffle(input_list)
    return input_list
original_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(original_list[:]) 
print("Original list:", original_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [3, 4, 5, 2, 1]

39. Create a list of the first 10 factorial numbers.

In [30]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
def first_10_factorials():
    return [factorial(i) for i in range(10)]
factorial_list = first_10_factorials()
print("The first 10 factorial numbers are:", factorial_list)

The first 10 factorial numbers are: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [32]:
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return not set1.isdisjoint(set2)
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
list3 = [10, 11, 12]
print("List1 and List2 have a common element:", have_common_element(list1, list2))
print("List1 and List3 have a common element:", have_common_element(list1, list3))

List1 and List2 have a common element: True
List1 and List3 have a common element: False

41. Remove all elements from a list.

In [33]:
def remove_all_elements(lst):
    lst[:] = []
my_list = [1, 2, 3, 4, 5]
remove_all_elements(my_list)
print("List after removal:", my_list)

List after removal: []

42. Replace negative numbers in a list with 0.

In [34]:
def replace_negatives_with_zero(input_list):
    return [0 if x < 0 else x for x in input_list]
original_list = [1, -2, 3, -4, 5, -6]
modified_list = replace_negatives_with_zero(original_list)
print("Original list:", original_list)
print("Modified list:", modified_list)

Original list: [1, -2, 3, -4, 5, -6]
Modified list: [1, 0, 3, 0, 5, 0]

43. Convert a string into a list of words.

In [35]:
def string_to_word_list(input_string):
    return input_string.split()
input_string = "Hello world! This is a test string."
word_list = string_to_word_list(input_string)
print("Original string:", input_string)
print("List of words:", word_list)

Original string: Hello world! This is a test string.
List of words: ['Hello', 'world!', 'This', 'is', 'a', 'test', 'string.']

44. Convert a list of words into a string.

In [36]:
def list_to_string(word_list):
    return ' '.join(word_list)
word_list = ['Hello', 'world!', 'This', 'is', 'a', 'test', 'string.']
result_string = list_to_string(word_list)
print("List of words:", word_list)
print("Resulting string:", result_string)

List of words: ['Hello', 'world!', 'This', 'is', 'a', 'test', 'string.']
Resulting string: Hello world! This is a test string.

45. Create a list of the first `n` powers of 2.

In [37]:
def powers_of_two(n):
    return [2**i for i in range(n)]
n = 10
powers_list = powers_of_two(n)
print(f"The first {n} powers of 2 are:", powers_list)

The first 10 powers of 2 are: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [38]:
def find_longest_string(strings_list):
    if not strings_list:
        return None
    return max(strings_list, key=len)
strings_list = ["short", "medium length", "a very long string indeed", "tiny"]
longest_string = find_longest_string(strings_list)
print("List of strings:", strings_list)
print("Longest string:", longest_string)

List of strings: ['short', 'medium length', 'a very long string indeed', 'tiny']
Longest string: a very long string indeed

47. Find the shortest string in a list of strings.

In [39]:
def find_shortest_string(strings_list):
    if not strings_list:
        return None
    return min(strings_list, key=len)
strings_list = ["short", "medium length", "tiny", "a very long string indeed"]
shortest_string = find_shortest_string(strings_list)
print("List of strings:", strings_list)
print("Shortest string:", shortest_string)

List of strings: ['short', 'medium length', 'tiny', 'a very long string indeed']
Shortest string: tiny

48. Create a list of the first `n` triangular numbers.

In [40]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 10
triangular_list = triangular_numbers(n)
print(f"The first {n} triangular numbers are:", triangular_list)

The first 10 triangular numbers are: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [41]:
def is_subsequence(main_list, sub_list):
    iter_main = iter(main_list)
    return all(item in iter_main for item in sub_list)
main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 4, 6]
not_sub_list = [2, 5, 7]
print("Is sub_list a subsequence of main_list?", is_subsequence(main_list, sub_list))
print("Is not_sub_list a subsequence of main_list?", is_subsequence(main_list, not_sub_list))

Is sub_list a subsequence of main_list? True
Is not_sub_list a subsequence of main_list? False

50. Swap two elements in a list by their indices.

In [42]:
def swap_elements(lst, index1, index2):
    if index1 < 0 or index1 >= len(lst) or index2 < 0 or index2 >= len(lst):
        raise IndexError("Index out of range")
    lst[index1], lst[index2] = lst[index2], lst[index1]
my_list = [10, 20, 30, 40, 50]
swap_elements(my_list, 1, 3)
print("List after swapping:", my_list)

List after swapping: [10, 40, 30, 20, 50]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
def create_tuple():
    return tuple(range(1, 6))
my_tuple = create_tuple()
print("Tuple with integers from 1 to 5:", my_tuple)

Tuple with integers from 1 to 5: (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [2]:
def access_third_element(tpl):
    if len(tpl) < 3:
        raise IndexError("Tuple does not have a third element")
    return tpl[2]
my_tuple = (1, 2, 3, 4, 5)
third_element = access_third_element(my_tuple)
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 3

3. Find the length of a tuple without using the `len()` function.

In [3]:
def tuple_length(tpl):
    count = 0
    for _ in tpl:
        count += 1
    return count
my_tuple = (1, 2, 3, 4, 5)
length = tuple_length(my_tuple)
print("The length of the tuple is:", length)

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [4]:
def count_occurrences(tpl, element):
    count = 0
    for item in tpl:
        if item == element:
            count += 1
    return count
my_tuple = (1, 2, 3, 2, 4, 2, 5)
element = 2
occurrences = count_occurrences(my_tuple, element)
print(f"The element {element} occurs {occurrences} times in the tuple.")

The element 2 occurs 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [6]:
def find_first_occurrence(tpl, element):
    for index, item in enumerate(tpl):
        if item == element:
            return index
    return -1
my_tuple = (1, 2, 3, 2, 4, 2, 5)
element = 2
first_index = find_first_occurrence(my_tuple, element)
print(f"The first occurrence of the element {element} is at index {first_index}.")

The first occurrence of the element 2 is at index 1.

6. Check if an element exists in a tuple.

In [9]:
def element_exists(tpl, element):
    return element in tpl
my_tuple = (1, 2, 3, 4, 5)
element = int(input("Enter the element"))
exists = element_exists(my_tuple, element)
print(f"Does the element {element} exist in the tuple? {exists}")

Does the element 10 exist in the tuple? False

7. Convert a tuple to a list.

In [15]:
def tuple_to_list(tpl):
    return list(tpl)
my_tuple = (1, 2, 3, 4, 5)
my_list = tuple_to_list(my_tuple)
print("Tuple:", my_tuple)
print("Converted list:", my_list)

Tuple: (1, 2, 3, 4, 5)
Converted list: [1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [17]:
def list_to_tuple(lst):
    return tuple(lst)
my_list = [1, 2, 3, 4, 5]
my_tuple = list_to_tuple(my_list)
print("List:", my_list)
print("Converted tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Converted tuple: (1, 2, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [18]:
def unpack_tuple(tpl):
    if len(tpl) != 3:
        raise ValueError("The function expects a tuple with exactly 3 elements")
    a, b, c = tpl
    return a, b, c
my_tuple = (1, 2, 3)
a, b, c = unpack_tuple(my_tuple)
print("Unpacked variables:")
print("a:", a)
print("b:", b)
print("c:", c)

Unpacked variables:
a: 1
b: 2
c: 3

10. Create a tuple of even numbers from 1 to 10.

In [20]:
def create_even_tuple():
    even_numbers = [num for num in range(1, 11) if num % 2 == 0]
    return tuple(even_numbers)
even_tuple = create_even_tuple()
print("Tuple of even numbers from 1 to 10:", even_tuple)

Tuple of even numbers from 1 to 10: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [19]:
def create_odd_tuple():
    odd_numbers = [num for num in range(1, 11) if num % 2 != 0]
    return tuple(odd_numbers)
odd_tuple = create_odd_tuple()
print("Tuple of odd numbers from 1 to 10:", odd_tuple)

Tuple of odd numbers from 1 to 10: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [21]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = concatenate_tuples(tuple1, tuple2)
print("First tuple:", tuple1)
print("Second tuple:", tuple2)
print("Concatenated tuple:", concatenated_tuple)

First tuple: (1, 2, 3)
Second tuple: (4, 5, 6)
Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [22]:
def repeat_tuple(tpl):
    return tpl * 3
my_tuple = (1, 2, 3)
repeated_tuple = repeat_tuple(my_tuple)
print("Original tuple:", my_tuple)
print("Repeated tuple:", repeated_tuple)

Original tuple: (1, 2, 3)
Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [23]:
def is_tuple_empty(tpl):
    return tpl == ()
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
print("Is the first tuple empty?", is_tuple_empty(empty_tuple))
print("Is the second tuple empty?", is_tuple_empty(non_empty_tuple))

Is the first tuple empty? True
Is the second tuple empty? False

15. Create a nested tuple.

In [24]:
def create_nested_tuple():
    inner_tuple1 = (1, 2, 3)
    inner_tuple2 = (4, 5, 6)
    inner_tuple3 = (7, 8, 9)
    nested_tuple = (inner_tuple1, inner_tuple2, inner_tuple3)
    return nested_tuple
nested_tuple = create_nested_tuple()
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

16. Access the first element of a nested tuple.

In [25]:
def access_first_element_of_nested_tuple(nested_tpl):
    first_inner_tuple = nested_tpl[0]
    first_element = first_inner_tuple[0]
    return first_element
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
first_element = access_first_element_of_nested_tuple(nested_tuple)
print("The first element of the nested tuple is:", first_element)

The first element of the nested tuple is: 1

17. Create a tuple with a single element.

In [26]:
def create_single_element_tuple(element):
    return (element,)
single_element_tuple = create_single_element_tuple(42)
print("Tuple with a single element:", single_element_tuple)

Tuple with a single element: (42,)

18. Compare two tuples.

In [27]:
def compare_tuples(tuple1, tuple2):
    comparison_results = {
        '==': tuple1 == tuple2,
        '!=': tuple1 != tuple2,
        '<': tuple1 < tuple2,
        '>': tuple1 > tuple2,
        '<=': tuple1 <= tuple2,
        '>=': tuple1 >= tuple2,
    }
    return comparison_results
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
results = compare_tuples(tuple1, tuple2)
print("Comparison results:")
for operator, result in results.items():
    print(f"{tuple1} {operator} {tuple2}: {result}")

Comparison results:
(1, 2, 3) == (1, 2, 4): False
(1, 2, 3) != (1, 2, 4): True
(1, 2, 3) < (1, 2, 4): True
(1, 2, 3) > (1, 2, 4): False
(1, 2, 3) <= (1, 2, 4): True
(1, 2, 3) >= (1, 2, 4): False

19. Delete a tuple.

In [28]:
def delete_tuple(variable_name):
    global_vars = globals()
    if variable_name in global_vars:
        del global_vars[variable_name]
    else:
        print(f"Variable '{variable_name}' not found.")
my_tuple = (1, 2, 3)
print("Before deletion:", my_tuple)
delete_tuple('my_tuple')
try:
    print("After deletion:", my_tuple)
except NameError:
    print("The variable 'my_tuple' has been deleted.")

Before deletion: (1, 2, 3)
The variable 'my_tuple' has been deleted.

20. Slice a tuple.

In [29]:
def slice_tuple(tpl, start, stop, step=1):
    return tpl[start:stop:step]
my_tuple = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
sliced_tuple = slice_tuple(my_tuple, 2, 7, 2)
print("Original tuple:", my_tuple)
print("Sliced tuple:", sliced_tuple)

Original tuple: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
Sliced tuple: (30, 50, 70)

21. Find the maximum value in a tuple.

In [30]:
def find_max_in_tuple(tpl):
    return max(tpl)
my_tuple = (10, 20, 30, 40, 50)
max_value = find_max_in_tuple(my_tuple)
print("Tuple:", my_tuple)
print("Maximum value:", max_value)

Tuple: (10, 20, 30, 40, 50)
Maximum value: 50

22. Find the minimum value in a tuple.

In [32]:
def find_min_in_tuple(tpl):
    return min(tpl)
my_tuple = (10, 20, 30, 40, 50)
max_value = find_min_in_tuple(my_tuple)
print("Tuple:", my_tuple)
print("Minimum value:", max_value)

Tuple: (10, 20, 30, 40, 50)
Minimum value: 10

23. Convert a string to a tuple of characters.

In [34]:
def string_to_tuple(s):
    return tuple(s)
my_string = input("Enter the string")
tuple_of_characters = string_to_tuple(my_string)
print("String:", my_string)
print("Tuple of characters:", tuple_of_characters)

String: PW SKILLS
Tuple of characters: ('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')

24. Convert a tuple of characters to a string.

In [35]:
def tuple_to_string(tpl):
    return ''.join(tpl)
tuple_of_characters = ('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')
result_string = tuple_to_string(tuple_of_characters)
print("Tuple of characters:", tuple_of_characters)
print("Converted string:", result_string)

Tuple of characters: ('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')
Converted string: PW SKILLS

25. Create a tuple from multiple data types.

In [36]:
def create_mixed_tuple():
    mixed_tuple = (42, 3.14, "hello", [1, 2, 3], (4, 5))
    return mixed_tuple
mixed_tuple = create_mixed_tuple()
print("Tuple with multiple data types:", mixed_tuple)

Tuple with multiple data types: (42, 3.14, 'hello', [1, 2, 3], (4, 5))

26. Check if two tuples are identical.

In [37]:
def are_tuples_identical(tuple1, tuple2):
    return tuple1 == tuple2
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
print("Are tuple1 and tuple2 identical?", are_tuples_identical(tuple1, tuple2))
print("Are tuple1 and tuple3 identical?", are_tuples_identical(tuple1, tuple3))

Are tuple1 and tuple2 identical? True
Are tuple1 and tuple3 identical? False

27. Sort the elements of a tuple.

In [38]:
def sort_tuple(tpl):
    lst = list(tpl)
    lst.sort()
    return tuple(lst)
my_tuple = (4, 1, 3, 5, 2)
sorted_tuple = sort_tuple(my_tuple)
print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (4, 1, 3, 5, 2)
Sorted tuple: (1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings.

In [39]:
def convert_tuple_of_integers_to_strings(tpl):
    return tuple(str(x) for x in tpl)
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = convert_tuple_of_integers_to_strings(tuple_of_integers)
print("Tuple of integers:", tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [40]:
def convert_tuple_of_strings_to_integers(tpl):
    return tuple(int(x) for x in tpl)
tuple_of_strings = ('1', '2', '3', '4', '5')
tuple_of_integers = convert_tuple_of_strings_to_integers(tuple_of_strings)
print("Tuple of strings:", tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [41]:
def merge_tuples(tuple1, tuple2):
    return tuple1 + tuple2
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = merge_tuples(tuple1, tuple2)
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [44]:
def flatten_tuple(nested_tuple):
    flat_list = []
    def flatten(tpl):
        for item in tpl:
            if isinstance(item, tuple):
                flatten(item)
            else:
                flat_list.append(item)
    flatten(nested_tuple)
    return tuple(flat_list)
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flattened_tuple = flatten_tuple(nested_tuple)
print("Nested tuple:", nested_tuple)
print("Flattened tuple:", flattened_tuple)

Nested tuple: (1, (2, 3), (4, (5, 6)), 7)
Flattened tuple: (1, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [45]:
def first_5_primes():
    return (2, 3, 5, 7, 11)
primes_tuple = first_5_primes()
print("First 5 prime numbers tuple:", primes_tuple)

First 5 prime numbers tuple: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [46]:
def is_palindrome(tpl):
    return tpl == tpl[::-1]
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)
print("Is palindrome_tuple a palindrome?", is_palindrome(palindrome_tuple))
print("Is non_palindrome_tuple a palindrome?", is_palindrome(non_palindrome_tuple))

Is palindrome_tuple a palindrome? True
Is non_palindrome_tuple a palindrome? False

34. Create a tuple of squares of numbers from 1 to 5.

In [47]:
def squares_tuple():
    return tuple(x**2 for x in range(1, 6))
squares = squares_tuple()
print("Tuple of squares from 1 to 5:", squares)

Tuple of squares from 1 to 5: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [48]:
def filter_even_numbers(tpl):
    return tuple(x for x in tpl if x % 2 != 0)
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = filter_even_numbers(original_tuple)
print("Original tuple:", original_tuple)
print("Filtered tuple (odd numbers only):", filtered_tuple)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered tuple (odd numbers only): (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [49]:
def multiply_elements_by_two(tpl):
    return tuple(x * 2 for x in tpl)
original_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = multiply_elements_by_two(original_tuple)
print("Original tuple:", original_tuple)
print("Multiplied tuple:", multiplied_tuple)

Original tuple: (1, 2, 3, 4, 5)
Multiplied tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [50]:
import random
def create_random_numbers_tuple(size, start, end):
    return tuple(random.randint(start, end) for _ in range(size))
tuple_size = 10
random_start = 1
random_end = 100
random_numbers_tuple = create_random_numbers_tuple(tuple_size, random_start, random_end)
print("Tuple of random numbers:", random_numbers_tuple)

Tuple of random numbers: (83, 14, 90, 28, 65, 9, 91, 87, 76, 68)

38. Check if a tuple is sorted.

In [51]:
def is_tuple_sorted(tpl):
    return tpl == tuple(sorted(tpl))
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
print("Is sorted_tuple sorted?", is_tuple_sorted(sorted_tuple))
print("Is unsorted_tuple sorted?", is_tuple_sorted(unsorted_tuple))

Is sorted_tuple sorted? True
Is unsorted_tuple sorted? False

39. Rotate a tuple to the left by `n` positions.

In [52]:
def rotate_tuple_left(tpl, n):
    n = n % len(tpl)
    return tpl[n:] + tpl[:n]
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_tuple_left(original_tuple, 2)
print("Original tuple:", original_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [53]:
def rotate_tuple_right(tpl, n):
    n = n % len(tpl)
    return tpl[-n:] + tpl[:-n]
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple = rotate_tuple_right(original_tuple, 2)
print("Original tuple:", original_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [54]:
def generate_fibonacci(n):
    fib_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fib_sequence.append(a)
        a, b = b, a + b
    return tuple(fib_sequence)
fibonacci_tuple = generate_fibonacci(5)
print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [55]:
def create_tuple_from_input():
    user_input = input("Enter values separated by commas: ")
    values = [x.strip() for x in user_input.split(',')]
    return tuple(values)
user_tuple = create_tuple_from_input()
print("Tuple created from user input:", user_tuple)

Tuple created from user input: ('1', '2', '3', '4', '5', '6', '7', '8', '9')

43. Swap two elements in a tuple.

In [56]:
def swap_elements_in_tuple(tpl, index1, index2):
    tpl_list = list(tpl)
    tpl_list[index1], tpl_list[index2] = tpl_list[index2], tpl_list[index1]
    return tuple(tpl_list)
original_tuple = (1, 2, 3, 4, 5)
index1, index2 = 1, 3
swapped_tuple = swap_elements_in_tuple(original_tuple, index1, index2)
print("Original tuple:", original_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [57]:
def reverse_tuple(tpl):
    return tpl[::-1]
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
print("Original tuple:", original_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [58]:
def powers_of_2_tuple(n):
    return tuple(2**i for i in range(n))
n = 5
powers_tuple = powers_of_2_tuple(n)
print("Tuple of the first", n, "powers of 2:", powers_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [59]:
def find_longest_string(tpl):
    if not tpl:
        return None
    return max(tpl, key=len)
tuple_of_strings = ("apple", "banana", "cherry", "date")
longest_string = find_longest_string(tuple_of_strings)
print("Longest string in the tuple:", longest_string)

Longest string in the tuple: banana

47. Find the shortest string in a tuple of strings.

In [60]:
def find_shortest_string(tpl):
    if not tpl:
        return None
    return min(tpl, key=len)
tuple_of_strings = ("apple", "banana", "cherry", "date")
shortest_string = find_shortest_string(tuple_of_strings)
print("Shortest string in the tuple:", shortest_string)

Shortest string in the tuple: date

48. Create a tuple of the first `n` triangular numbers.

In [61]:
def triangular_numbers_tuple(n):
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
n = 5
triangular_tuple = triangular_numbers_tuple(n)
print("Tuple of the first", n, "triangular numbers:", triangular_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [62]:
def contains_subsequence(main_tuple, sub_tuple):
    len_main = len(main_tuple)
    len_sub = len(sub_tuple)
    if len_sub > len_main:
        return False
    for i in range(len_main - len_sub + 1):
        if main_tuple[i:i + len_sub] == sub_tuple:
            return True
    return False
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4, 5)
print("Does the main tuple contain the sub-tuple as a subsequence?", contains_subsequence(main_tuple, sub_tuple))

Does the main tuple contain the sub-tuple as a subsequence? True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [63]:
def alternating_tuple(n):
    return tuple((i % 2) for i in range(n))
n = 10
result_tuple = alternating_tuple(n)
print("Tuple of alternating 1s and 0s of length", n, ":", result_tuple)

Tuple of alternating 1s and 0s of length 10 : (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [16]:
for i in set(range(1,6)):
    print(i)

1
2
3
4
5

2. Add an element to a set.

In [66]:
def add_element_to_set(s, element):
    s.add(element)
    return s
my_set = {1, 2, 3}
element_to_add = input("Enter the element you want to be add")
updated_set = add_element_to_set(my_set, element_to_add)
print("Updated set:", updated_set)

Updated set: {1, 2, 3, '6'}

3. Remove an element from a set.

In [68]:
def remove_element_from_set(s, element):
    if element in s:
        s.remove(element)
    return s
my_set = {1, 2, 3, 4}
element_to_remove = input("Enter the element you want to be remove")
updated_set = remove_element_from_set(my_set, element_to_remove)
print("Updated set after removal:", updated_set)

Updated set after removal: {1, 2, 3, 4}

4. Check if an element exists in a set.

In [69]:
def check_element_in_set(s, element):
    return element in s
my_set = {1, 2, 3, 4}
element_to_check = 3
exists = check_element_in_set(my_set, element_to_check)
print(f"Does the element {element_to_check} exist in the set? {exists}")

Does the element 3 exist in the set? True

5. Find the length of a set without using the `len()` function.

In [70]:
def length_of_set(s):
    count = 0
    for _ in s:
        count += 1
    return count
my_set = {1, 2, 3, 4}
set_length = length_of_set(my_set)
print("Length of the set:", set_length)

Length of the set: 4

6. Clear all elements from a set.

In [71]:
def clear_set(s):
    s.clear()
    return s
my_set = {1, 2, 3, 4}
cleared_set = clear_set(my_set)
print("Cleared set:", cleared_set)

Cleared set: set()

7. Create a set of even numbers from 1 to 10.

In [72]:
def create_even_set():
    return {x for x in range(1, 11) if x % 2 == 0}
even_set = create_even_set()
print("Set of even numbers from 1 to 10:", even_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [73]:
def create_odd_set():
    return {x for x in range(1, 11) if x % 2 != 0}
odd_set = create_odd_set()
print("Set of odd numbers from 1 to 10:", odd_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [77]:
def union_sets_method(set1, set2):
    return set1 | set2
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set_method = union_sets_method(set1, set2)
print("Union of set1 and set2 using union() method:", union_set_method)

Union of set1 and set2 using union() method: {1, 2, 3, 4, 5}

10. Find the intersection of two sets.

In [78]:
def intersection_sets_method(set1, set2):
    return set1 & set2
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set_method = intersection_sets_method(set1, set2)
print("Intersection of set1 and set2 using intersection() method:", intersection_set_method)

Intersection of set1 and set2 using intersection() method: {3}

11. Find the difference between two sets.

In [79]:
def difference_sets_method(set1, set2):
    return set1-set2
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
difference_set_method = difference_sets_method(set1, set2)
print("Difference between set1 and set2 using difference() method:", difference_set_method)

Difference between set1 and set2 using difference() method: {1, 2}

12. Check if a set is a subset of another set.

In [81]:
def is_subset(set1, set2):
    return set1<=set2
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}
subset_check = is_subset(set1, set2)
print("Is set1 a subset of set2?", subset_check)

Is set1 a subset of set2? True

13. Check if a set is a superset of another set.

In [82]:
def is_superset(set1, set2):
    return set1 >= set2
set1 = {1, 2, 3, 4}
set2 = {2, 3}
superset_check = is_superset(set1, set2)
print("Is set1 a superset of set2?", superset_check)

Is set1 a superset of set2? True

14. Create a set from a list.

In [83]:
def list_to_set(lst):
    return set(lst)
my_list = [1, 2, 3, 4, 2, 1]
my_set = list_to_set(my_list)
print("Set created from the list:", my_set)

Set created from the list: {1, 2, 3, 4}

15. Convert a set to a list.

In [84]:
def set_to_list(s):
    return list(s)
my_set = {1, 2, 3, 4}
my_list = set_to_list(my_set)
print("List created from the set:", my_list)

List created from the set: [1, 2, 3, 4]

16. Remove a random element from a set.

In [85]:
import random

def remove_random_element(s):
    if not s:
        raise ValueError("Set is empty, cannot remove an element.")
    return s.pop()
my_set = {1, 2, 3, 4}
removed_element = remove_random_element(my_set)
print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 1
Set after removal: {2, 3, 4}

17. Pop an element from a set.

In [86]:
def pop_element(s):
    if not s:
        raise ValueError("Set is empty, cannot pop an element.")
    return s.pop()
my_set = {1, 2, 3, 4}
popped_element = pop_element(my_set)
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Popped element: 1
Set after popping: {2, 3, 4}

18. Check if two sets have no elements in common.

In [87]:
def no_common_elements(set1, set2):
    return not (set1 & set2)
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common = no_common_elements(set1, set2)
print("Do set1 and set2 have no elements in common?", no_common)

Do set1 and set2 have no elements in common? True

19. Find the symmetric difference between two sets.

In [88]:
def symmetric_difference(set1, set2):
    return set1 ^ set2
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
sym_diff = symmetric_difference(set1, set2)
print("Symmetric difference:", sym_diff)

Symmetric difference: {1, 2, 5, 6}

20. Update a set with elements from another set.

In [89]:
def update_set(original_set, new_elements):
    original_set.update(new_elements)
original_set = {1, 2, 3}
new_elements = {3, 4, 5}
update_set(original_set, new_elements)
print("Updated set:", original_set)

Updated set: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [90]:
def first_n_primes(n):
    primes = []
    num = 2  # Start checking for primes from 2
    while len(primes) < n:
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
        num += 1
    return set(primes)
first_5_primes = first_n_primes(5)
print("Set of the first 5 prime numbers:", first_5_primes)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [91]:
def are_sets_identical(set1, set2):
    return set1 == set2
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}
set3 = {1, 2, 3}
identical_1_2 = are_sets_identical(set1, set2)
identical_1_3 = are_sets_identical(set1, set3)
print("Are set1 and set2 identical?", identical_1_2)
print("Are set1 and set3 identical?", identical_1_3)

Are set1 and set2 identical? True
Are set1 and set3 identical? False

23. Create a frozen set.

In [92]:
def create_frozenset(iterable):
    return frozenset(iterable)
my_list = [1, 2, 3, 4, 4, 3, 2, 1]
my_frozenset = create_frozenset(my_list)
print("Frozenset created from the list:", my_frozenset)

Frozenset created from the list: frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set.

In [93]:
def are_disjoint(set1, set2):
    return set1.isdisjoint(set2)
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set
disjoint_1_2 = are_disjoint(set1, set2)
disjoint_1_3 = are_disjoint(set1, set3)
print("Are set1 and set2 disjoint?", disjoint_1_2)
print("Are set1 and set3 disjoint?", disjoint_1_3)

Are set1 and set2 disjoint? True
Are set1 and set3 disjoint? False

25. Create a set of squares of numbers from 1 to 5.

In [94]:
def squares_set(n):
    return {x**2 for x in range(1, n+1)}
squares = squares_set(5)
print("Set of squares from 1 to 5:", squares)

Set of squares from 1 to 5: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [95]:
def filter_out_even_numbers(input_set):
    return {x for x in input_set if x % 2 != 0}
original_set = {1, 2, 3, 4, 5, 6, 7}
filtered_set = filter_out_even_numbers(original_set)
print("Original set:", original_set)
print("Set with even numbers filtered out:", filtered_set)

Original set: {1, 2, 3, 4, 5, 6, 7}
Set with even numbers filtered out: {1, 3, 5, 7}

27. Multiply all elements in a set by 2.

In [96]:
def multiply_elements_by_2(input_set):
    return {x * 2 for x in input_set}
original_set = {1, 2, 3, 4, 5}
multiplied_set = multiply_elements_by_2(original_set)
print("Original set:", original_set)
print("Set with elements multiplied by 2:", multiplied_set)

Original set: {1, 2, 3, 4, 5}
Set with elements multiplied by 2: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [97]:
import random

def create_random_set(size, lower_bound, upper_bound):
    return {random.randint(lower_bound, upper_bound) for _ in range(size)}
size = 10
lower_bound = 1
upper_bound = 100
random_set = create_random_set(size, lower_bound, upper_bound)
print("Set of random numbers:", random_set)

Set of random numbers: {7, 39, 74, 13, 51, 53, 56, 57, 31}

29. Check if a set is empty.

In [98]:
def is_empty(input_set):
    return len(input_set) == 0
empty_set = set()
non_empty_set = {1, 2, 3}
print("Is the empty_set empty?", is_empty(empty_set))
print("Is the non_empty_set empty?", is_empty(non_empty_set))

Is the empty_set empty? True
Is the non_empty_set empty? False

30. Create a nested set (hint: use frozenset).

In [99]:
def create_nested_set():
    inner_set1 = frozenset({1, 2, 3})
    inner_set2 = frozenset({4, 5, 6})
    nested_set = frozenset({inner_set1, inner_set2})
    return nested_set
nested_set = create_nested_set()
print("Nested set:", nested_set)

Nested set: frozenset({frozenset({1, 2, 3}), frozenset({4, 5, 6})})

31. Remove an element from a set using the discard method.

In [100]:
def remove_element_from_set(input_set, element):
    input_set.discard(element)
    return input_set
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3
updated_set = remove_element_from_set(my_set, element_to_remove)
print("Updated set:", updated_set)
element_to_remove = 10
updated_set = remove_element_from_set(my_set, element_to_remove)
print("Updated set after removing non-existing element:", updated_set)

Updated set: {1, 2, 4, 5}
Updated set after removing non-existing element: {1, 2, 4, 5}

32. Compare two sets.

In [ ]:
def compare_sets(set1, set2):
    return {
        'equal': set1 == set2,
        'subset': set1.issubset(set2),
        'superset': set1.issuperset(set2),
        'disjoint': set1.isdisjoint(set2)
    }
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = {1, 2, 3, 4}
comparison1_2 = compare_sets(set1, set2)
comparison1_3 = compare_sets(set1, set3)
print("Comparison between set1 and set2:", comparison1_2)
print("Comparison between set1 and set3:", comparison1_3)

33. Create a set from a string.

In [101]:
def create_set_from_string(s):
    return set(s)
string = "hello world"
unique_characters = create_set_from_string(string)
print("Original string:", string)
print("Set of unique characters:", unique_characters)

Original string: hello world
Set of unique characters: {'w', 'l', 'r', 'h', 'o', 'd', ' ', 'e'}

34. Convert a set of strings to a set of integers.

In [102]:
def convert_set_of_strings_to_integers(string_set):
    return {int(s) for s in string_set}
string_set = {'1', '2', '3', '10', '20'}
integer_set = convert_set_of_strings_to_integers(string_set)
print("Set of strings:", string_set)
print("Set of integers:", integer_set)

Set of strings: {'10', '20', '1', '3', '2'}
Set of integers: {1, 2, 3, 10, 20}

35. Convert a set of integers to a set of strings.

In [103]:
def convert_set_of_integers_to_strings(integer_set):
    return {str(i) for i in integer_set}
integer_set = {1, 2, 3, 10, 20}
string_set = convert_set_of_integers_to_strings(integer_set)
print("Set of integers:", integer_set)
print("Set of strings:", string_set)

Set of integers: {1, 2, 3, 20, 10}
Set of strings: {'10', '1', '2', '20', '3'}

36. Create a set from a tuple.

In [104]:
def create_set_from_tuple(t):
    return set(t)
tuple_data = (1, 2, 3, 4, 2, 3, 5)
set_from_tuple = create_set_from_tuple(tuple_data)
print("Original tuple:", tuple_data)
print("Set created from tuple:", set_from_tuple)

Original tuple: (1, 2, 3, 4, 2, 3, 5)
Set created from tuple: {1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [105]:
def convert_set_to_tuple(s):
    return tuple(s)
my_set = {1, 2, 3, 4, 5}
tuple_from_set = convert_set_to_tuple(my_set)
print("Original set:", my_set)
print("Tuple created from set:", tuple_from_set)

Original set: {1, 2, 3, 4, 5}
Tuple created from set: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [106]:
def find_max_value(s):
    if not s:
        return None
    return max(s)
my_set = {1, 5, 3, 9, 2}
max_value = find_max_value(my_set)
print("Set:", my_set)
print("Maximum value:", max_value)

Set: {1, 2, 3, 5, 9}
Maximum value: 9

39. Find the minimum value in a set.

In [107]:
def find_min_value(s):
    if not s:
        return None
    return min(s)
my_set = {1, 5, 3, 9, 2}
min_value = find_min_value(my_set)
print("Set:", my_set)
print("Minimum value:", min_value)

Set: {1, 2, 3, 5, 9}
Minimum value: 1

40. Create a set from user input.

In [108]:
def create_set_from_user_input():
    user_input = input("Enter values separated by spaces: ")
    elements = user_input.split() 
    result_set = set(elements)
    return result_set
user_set = create_set_from_user_input()
print("Set created from user input:", user_set)

Set created from user input: {'1,2,3,4,5,6,7'}

41. Check if the intersection of two sets is empty.

In [109]:
def is_intersection_empty(set1, set2):
    return not (set1 & set2)
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 7, 8}
print("Is intersection of set1 and set2 empty?", is_intersection_empty(set1, set2))
print("Is intersection of set1 and set3 empty?", is_intersection_empty(set1, set3))

Is intersection of set1 and set2 empty? True
Is intersection of set1 and set3 empty? False

42. Create a set of the first 5 Fibonacci numbers.

In [110]:
def generate_fibonacci(n):
    fibonacci_numbers = []
    a, b = 0, 1
    while len(fibonacci_numbers) < n:
        fibonacci_numbers.append(a)
        a, b = b, a + b
    return fibonacci_numbers

def create_fibonacci_set(n):
    fibonacci_numbers = generate_fibonacci(n)
    return set(fibonacci_numbers)
fibonacci_set = create_fibonacci_set(5)
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [111]:
def remove_duplicates(lst):
    return list(set(lst))
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(original_list)
print("Original list:", original_list)
print("List after removing duplicates:", unique_list)

Original list: [1, 2, 2, 3, 4, 4, 5]
List after removing duplicates: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [112]:
def sets_have_same_elements(set1, set2):
    return set1 == set2
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}
set3 = {1, 2, 2, 3, 4}
print("Do set1 and set2 have the same elements?", sets_have_same_elements(set1, set2))
print("Do set1 and set3 have the same elements?", sets_have_same_elements(set1, set3))

Do set1 and set2 have the same elements? True
Do set1 and set3 have the same elements? True

45. Create a set of the first `n` powers of 2.

In [113]:
def powers_of_two(n):
    return {2**i for i in range(n)}
n = 5
powers_set = powers_of_two(n)
print("Set of the first {} powers of 2:".format(n), powers_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [114]:
def common_elements(set1, lst):
    set2 = set(lst)
    return set1 & set2
set1 = {1, 2, 3, 4}
lst = [3, 4, 5, 6]
common_set = common_elements(set1, lst)
print("Common elements between the set and the list:", common_set)

Common elements between the set and the list: {3, 4}

47. Create a set of the first `n` triangular numbers.

In [115]:
def triangular_numbers(n):
    return {i * (i + 1) // 2 for i in range(1, n + 1)}
n = 5
triangular_set = triangular_numbers(n)
print("Set of the first {} triangular numbers:".format(n), triangular_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [116]:
def is_subset(set1, set2):
    return set1.issubset(set2)
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
set3 = {1, 2, 6}
print("Is set1 a subset of set2?", is_subset(set1, set2))
print("Is set3 a subset of set2?", is_subset(set3, set2))

Is set1 a subset of set2? True
Is set3 a subset of set2? False

49. Create a set of alternating 1s and 0s of length `n`.

In [117]:
def alternating_set(n):
    return {0, 1} if n > 0 else set()
n = 10
alt_set = alternating_set(n)
print("Set of alternating 1s and 0s of length {}:".format(n), alt_set)

Set of alternating 1s and 0s of length 10: {0, 1}

50. Merge multiple sets into one.

In [118]:
def merge_sets(*sets):
    merged_set = set()
    for s in sets:
        merged_set |= s
    return merged_set
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = merge_sets(set1, set2, set3)
print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}